.main {
  margin-bottom: 16%;
  width: 360px;
}

.img {
  width: 98%;
}

.recommendation-area {
  display: flex;
  height: 230px;
  overflow: scroll;
  width: 100%;
}

.recommendation-box {
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 220px;
  margin: 2px;
  padding: 5px;
  width: 190px;
}

.fav-button {
  height: 35px;
  width: 35px;
}

.recommendation-image {
  border-radius: 10px;
  height: 180px;
  margin: 5px; 
  width: 170px;
}

.begin-button {
  align-items: center;
  background-color: lightgray;
  bottom: 0;
  display: flex;
  height: 8%;
  justify-content: space-around;
  position: fixed;
  top: 92%;
  width: 100%;
}
