.explorer-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px 16px;
}

.explorer-container a {
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: black;
  font-size: 32px;
  line-height: 37px;
  padding: 16px 8px;
}

.explorer-container a:active {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  color: black;
  text-decoration: none;
}
