.explore-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: calc(100vh - 46px);
  justify-content: center;
}

.explore-container button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 15px;
  color: white;
  font-weight: 800;
  height: 46px;
  width: 80vw;
}
