.login-container {
  background-image: url('../../images/background.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-form {
  border: 1px solid rgb(209, 209, 209);
  border-radius: 20px;
  height: 46px;
  margin: 5px;
  text-align: center;
  width: 256px;
}

.login-button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: 800;
  height: 46px;
  margin: 25px 0 0;
  width: 200px;

}

.logo {
  margin-bottom: 30px;
}
