.divCard {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 150px;
  border-radius: solid, black, 1px;
}

.imgCard {
  width: 100px;
  height: 100px;
}

.textClass {
  font-size: small;
}
