.explore {
  margin-top: 50px;
  padding: 40px;
}

.buttonExplore {
  margin: 0 0 15px;
}

.footer {
  background-color: hsl(0, 0%, 77%);
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  width: 100%;
}

.header2 {
  align-items: center;
  background-color: gray;
  color: aliceblue;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0%;
  width: 100%;
}

.cardDisplay {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.perfilEmail {
  margin-top: 50px;
  padding: 40px;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

.rota {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: -150px;
}

.search {
  margin-top: 65px;
  padding: 5px;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}
