.footer {
  bottom: 0;
  position: fixed;
}

.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
}

.card-recipe {
  width: 40vw;
  padding: 5px;
}

.card-img {
  width: 100%;
}
