body {
  box-sizing: border-box;
  color: #999;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.categoryButtons {
  margin-top: 50px;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

header {
  background-color: rgb(248, 141, 0);
  color: white;
  display: flex;
  height: 39px;
  justify-content: space-between;
  max-width: 100;
  overflow: hidden;

  /* position: fixed;
  top: 0; */
  width: 100%;
}

footer {
  background-color: rgb(248, 141, 0);
  bottom: 0;
  display: flex;
  justify-content: space-between;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

.loginBG {
  align-items: center;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrQlLh9CSKbzHGMi7IDZzfarQZSsQ2pPrKlg&usqp=CAU');
  background-repeat: no-repeat;
  background-size: 120%;
  display: flex;
  flex-flow: column nowrap;
  height: 640px;
  justify-content: center;
}

.carouselCard {
  border-color: solid orange 3px;
  border-radius: 25px;
}

.textInput {
  border-radius: 10px;
  bottom: 50px;
  padding: 10px;
  position: relative;
}

.carouselDiv {
  border: 2px solid orange;
  display: inline-block;
}

.carouselImage {
  max-height: 25%;
  max-width: 25%;
}

/* Ref: https://codepen.io/kh-mamun/pen/NdwZdW */
.container {
  font-weight: 900;
  margin: 0;
  padding: 0 0 50px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.animate {
  font-size: 50px;
  margin: 100px 0 0;
}

.animate span {
  display: inline-block;
}

.six span {
  animation: twister 500ms forwards;
  bottom: 200px;
  color: rgb(115, 192, 0);
  opacity: 0;
  position: relative;
  transform: rotate(-180deg) translate(150px, 0);
}

.cardImages {
  border: solid black 1px;
  height: 10%;
  width: 10%;
}

.inputsSearch {
  margin-top: 50px;
}

.card img {
  margin: 15px auto;
  max-width: 100%;
}

.animate span:nth-of-type( 2 ) {
  animation-delay: 500ms;
}

.animate span:nth-of-type( 3 ) {
  animation-delay: 100ms;
}

.animate span:nth-of-type( 4 ) {
  animation-delay: 150ms;
}

.animate span:nth-of-type( 5 ) {
  animation-delay: 200ms;
}

.animate span:nth-of-type( 6 ) {
  animation-delay: 250ms;
}

.animate span:nth-of-type( 7 ) {
  animation-delay: 300ms;
}

.animate span:nth-of-type( 8 ) {
  animation-delay: 350ms;
}

.animate span:nth-of-type( 9 ) {
  animation-delay: 400ms;
}

.animate span:nth-of-type( 10 ) {
  animation-delay: 450ms;
}

.animate span:nth-of-type( 11 ) {
  animation-delay: 500ms;
}

.animate span:nth-of-type( 12 ) {
  animation-delay: 550ms;
}

.animate span:nth-of-type( 13 ) {
  animation-delay: 600ms;
}

.animate span:nth-of-type( 14 ) {
  animation-delay: 650ms;
}

.animate span:nth-of-type( 15 ) {
  animation-delay: 700ms;
}

.animate span:nth-of-type( 16 ) {
  animation-delay: 750ms;
}

.animate span:nth-of-type( 17 ) {
  animation-delay: 800ms;
}

.animate span:nth-of-type( 18 ) {
  animation-delay: 850ms;
}

.animate span:nth-of-type( 19 ) {
  animation-delay: 900ms;
}

.animate span:nth-of-type( 20 ) {
  animation-delay: 950ms;
}

/* Animation Six */

@keyframes twister {

  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: rotate(0deg) translate(0);
  }
}

/* Animation Seven */

@keyframes leftRight {

  40% {
    color: #348c04;
    opacity: 1;
    transform: translate(50px, 0) scale(0.7);
  }

  60% {
    color: #0f40ba;
  }

  80% {
    opacity: 0;
    transform: translate(0) scale(2);
  }

  100% {
    opacity: 1;
    transform: translate(0) scale(1);
  }
}
